* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.logo > img {
  width: 3em;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: gray;
  color: white;
}

.menu {
  display: none;
}

main {
  margin: 1em;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 2px;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 1em;
  border-top: 1px solid lightgray;
}

.social_icon {
  font-size: 2em;
}

footer {
  display: none;
}

@media screen and (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-evenly;
  }

  footer {
    display: block;
  }
}

@media screen and (min-width: 1025px) {
  .hamburger {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
  }

  .menu > li {
    margin: 0 1em;
    font-size: 1.5em;
  }

  main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .product {
    width: 33%;
  }
}
